@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
body,
#root {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.chat-scrollbar-webkit *::-webkit-scrollbar {
	width: 8px;
 }
 .chat-scrollbar-webkit *::-webkit-scrollbar-track {
	background: rgb(189, 189, 189);
	border-radius: 20px;
 }
 .chat-scrollbar-webkit *::-webkit-scrollbar-thumb {
	background-color: rgb(124 125 126);
	border-radius: 20px;
	border: 1px solid white;
 }